---
import Layout from "../layouts/Layout.astro";
import LetterHover from "../components/LetterHover.astro";
---

<Layout title="John Carpenter ">
  <main>
    <LetterHover />
    <div class="main">
      <div class="container">
        <div class="projects">
          <div class="project" id="header">
            <div class="film">
              <p>Film</p>
            </div>
            <div class="starring">
              <p>Starring</p>
            </div>
            <div class="running-time">
              <p>Running Time</p>
            </div>
            <div class="release-date">
              <p>Release Date</p>
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=lwISbJfRNz0"
              target="_blank"
            >
              <div class="project" id="p1">
                <div class="film">
                  <p>Dark Star</p>
                </div>
                <div class="starring">
                  <p>Dan O’Bannon, Brian Narelle, Cal Kuniholm, Dre Pahich</p>
                </div>
                <div class="running-time">
                  <p>83 minutes</p>
                </div>
                <div class="release-date">
                  <p>April 1974</p>
                </div>
              </div>
            </a>
            <div class="hover-img fix-up">
              <img src="src/assets/Carpenter/p1.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=SmuM704bMjM"
              target="_blank"
            >
              <div class="project" id="p2">
                <div class="film">
                  <p>Assault on Precinct 13</p>
                </div>
                <div class="starring">
                  <p>Austin Stoker, Darwin Joston, Laurie Zimmer, Nancy Kyes</p>
                </div>
                <div class="running-time">
                  <p>91 minutes</p>
                </div>
                <div class="release-date">
                  <p>November 10, 1976</p>
                </div>
              </div>
            </a>
            <div class="hover-img fix-up">
              <img src="src/assets/Carpenter/p2.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=3JsrH8eUVOo"
              target="_blank"
            >
              <div class="project" id="p3">
                <div class="film">
                  <p>Halloween</p>
                </div>
                <div class="starring">
                  <p>
                    Donald Pleasence, Jamie Lee Curtis, P. J. Soles, Nancy
                    Loomis
                  </p>
                </div>
                <div class="running-time">
                  <p>91 minutes</p>
                </div>
                <div class="release-date">
                  <p>October 25, 1978</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p3.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=97PQ1QgKL8c"
              target="_blank"
            >
              <div class="project" id="p4">
                <div class="film">
                  <p>The Fog</p>
                </div>
                <div class="starring">
                  <p>
                    Adrienne Barbeau, Jamie Lee Curtis, Tom Atkins, John
                    Houseman, Janet
                  </p>
                </div>
                <div class="running-time">
                  <p>89 minutes</p>
                </div>
                <div class="release-date">
                  <p>February 1, 1980</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p4.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=bqT09APfNKI"
              target="_blank"
            >
              <div class="project" id="p5">
                <div class="film">
                  <p>Escape from New York</p>
                </div>
                <div class="starring">
                  <p>
                    Kurt Russell, Lee Van Cleef, Ernest Borgnine, Donald
                    Pleasence, Isaac
                  </p>
                </div>
                <div class="running-time">
                  <p>99 minutes</p>
                </div>
                <div class="release-date">
                  <p>July 10, 1981</p>
                </div>
              </div>
            </a>
            <div class="hover-img fix-up">
              <img src="src/assets/Carpenter/p5.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=ySvzHdtCiWE"
              target="_blank"
            >
              <div class="project" id="p6">
                <div class="film">
                  <p>The Thing</p>
                </div>
                <div class="starring">
                  <p>Kurt Russell</p>
                </div>
                <div class="running-time">
                  <p>109 minutes</p>
                </div>
                <div class="release-date">
                  <p>June 25, 1982</p>
                </div>
              </div>
            </a>
            <div class="hover-img fix-up">
              <img src="src/assets/Carpenter/p6.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=hwenfmGFpCw"
              target="_blank"
            >
              <div class="project" id="p7">
                <div class="film">
                  <p>Christine</p>
                </div>
                <div class="starring">
                  <p>
                    Keith Gordon, John Stockwell, Alexandra Paul, Robert Prosky,
                    Harry Dean
                  </p>
                </div>
                <div class="running-time">
                  <p>110 minutes</p>
                </div>
                <div class="release-date">
                  <p>December 9, 1983</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p7.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=SOMyCjQzk4w"
              target="_blank"
            >
              <div class="project" id="p8">
                <div class="film">
                  <p>Starman</p>
                </div>
                <div class="starring">
                  <p>
                    Jeff Bridges, Karen Allen, Charles Martin Smith, Richard
                    Jaeckel
                  </p>
                </div>
                <div class="running-time">
                  <p>115 minutes</p>
                </div>
                <div class="release-date">
                  <p>December 14, 1984</p>
                </div>
              </div>
            </a>
            <div class="hover-img fix-up">
              <img src="src/assets/Carpenter/p8.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=C6y6mTU5cTQ"
              target="_blank"
            >
              <div class="project" id="p9">
                <div class="film">
                  <p>Big Trouble in Little China</p>
                </div>
                <div class="starring">
                  <p>Kurt Russell, Kim Cattrall, Dennis Dun</p>
                </div>
                <div class="running-time">
                  <p>99 minutes</p>
                </div>
                <div class="release-date">
                  <p>July 1, 1986</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p9.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=GMJ5a08G0CM"
              target="_blank"
            >
              <div class="project" id="p10">
                <div class="film">
                  <p>Prince of Darkness</p>
                </div>
                <div class="starring">
                  <p>
                    Donald Pleasence, Lisa Blount, Victor Wong, Jameson Parker
                  </p>
                </div>
                <div class="running-time">
                  <p>101 minutes</p>
                </div>
                <div class="release-date">
                  <p>October 23, 1987</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p10.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=zLQ2d89vCiw"
              target="_blank"
            >
              <div class="project" id="p11">
                <div class="film">
                  <p>They Live</p>
                </div>
                <div class="starring">
                  <p>Roddy Piper, Keith David, Meg Foster</p>
                </div>
                <div class="running-time">
                  <p>94 minutes</p>
                </div>
                <div class="release-date">
                  <p>November 4, 1988</p>
                </div>
              </div>
            </a>
            <div class="hover-img fix-up">
              <img src="src/assets/Carpenter/p11.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=U4qLE7gRmfI"
              target="_blank"
            >
              <div class="project" id="p12">
                <div class="film">
                  <p>Memoirs of an Invisible Man</p>
                </div>
                <div class="starring">
                  <p>
                    Chevy Chase, Daryl Hannah, Sam Neill, Paul Perri, Pat
                    Skipper
                  </p>
                </div>
                <div class="running-time">
                  <p>99 minutes</p>
                </div>
                <div class="release-date">
                  <p>February 28, 1992</p>
                </div>
              </div>
            </a>
            <div class="hover-img fix-up">
              <img src="src/assets/Carpenter/p12.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=cXd4CfW7nmc"
              target="_blank"
            >
              <div class="project" id="p13">
                <div class="film">
                  <p>In the Mouth of Madness</p>
                </div>
                <div class="starring">
                  <p>
                    Sam Neill, Julie Carmen, Jürgen Prochnow, Charlton Heston
                  </p>
                </div>
                <div class="running-time">
                  <p>95 minutes</p>
                </div>
                <div class="release-date">
                  <p>February 3, 1995</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p13.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=oDabkjic1mM"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="project" id="p14">
                <div class="film">
                  <p>Village of the Damned</p>
                </div>
                <div class="starring">
                  <p>
                    Christopher Reeve, Kirstie Alley, Linda Kozlowski, Mark
                    Hamill, Michael
                  </p>
                </div>
                <div class="running-time">
                  <p>99 minutes</p>
                </div>
                <div class="release-date">
                  <p>April 28, 1995</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p14.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=EMvoxhtPXXA"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="project" id="p15">
                <div class="film">
                  <p>Escape from L.A.</p>
                </div>
                <div class="starring">
                  <p>Kurt Russell, Stacy Keach, Steve Buscemi, Peter Fonda</p>
                </div>
                <div class="running-time">
                  <p>101 minutes</p>
                </div>
                <div class="release-date">
                  <p>August 9, 1996</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p15.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=hSfGOdPSvPQ"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="project" id="p16">
                <div class="film">
                  <p>Vampires</p>
                </div>
                <div class="starring">
                  <p>James Woods, Daniel Baldwin, Sheryl Lee</p>
                </div>
                <div class="running-time">
                  <p>108 minutes</p>
                </div>
                <div class="release-date">
                  <p>October 30, 1998</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p16.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=XbmFwk8n0f0"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="project" id="p17">
                <div class="film">
                  <p>Ghost of Mars</p>
                </div>
                <div class="starring">
                  <p>Ice Cube, Natasha Henstridge, Jason Statham</p>
                </div>
                <div class="running-time">
                  <p>98 minutes</p>
                </div>
                <div class="release-date">
                  <p>August 24, 2001</p>
                </div>
              </div>
            </a>
            <div class="hover-img">
              <img src="src/assets/Carpenter/p17.jpg" alt="" />
            </div>
          </div>
          <div class="hover-cont">
            <a
              href="https://www.youtube.com/watch?v=buF-keImNYk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="project" id="p18">
                <div class="film">
                  <p>The Ward</p>
                </div>
                <div class="starring">
                  <p>Amber Heard, Mamie Gummer, Danielle Panabaker</p>
                </div>
                <div class="running-time">
                  <p>89 minutes</p>
                </div>
                <div class="release-date">
                  <p>July 8, 2011</p>
                </div>
              </div>
            </a>
            <div class="hover-img fix">
              <img src="src/assets/Carpenter/p18.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main {
    width: 100%;
    height: 100%;
    font-family: "PP Neue Montreal", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d3d0bd;
    color: #272525;
    overflow-x: hidden;
  }

  p {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 100%;
  }

  #header p {
    opacity: 0.5;
  }

  #header {
    cursor: default;
  }

  #header:hover {
    color: #272525;
    background: #d3d0bd;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .projects {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .project {
    width: 100%;
    padding: 2.5em 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
    z-index: 2;
  }

  .project > div {
    flex: 3;
  }

  .project div:last-child {
    flex: 1;
  }

  .hover-cont {
    position: relative;
    cursor: pointer;
  }

  .hover-img {
    position: absolute;
    width: 300px;
    height: 400px;
    top: -450px;
    left: 0;
    opacity: 0;
    transform-origin: 30% 50%;
    will-change: transform;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
  }

  .fix {
    top: -650px;
  }

  .fix-up {
    top: -200px;
  }

  .hover-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    color: #272525;
  }

  .project:hover {
    color: #35ff02;
    background: #0a0a0a;
    transition: 0.2s ease;
  }
  @media (max-width: 900px) {
    .starring,
    .running-time {
      display: none;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  const gsapItems = document.querySelectorAll(".hover-cont");

  gsap.set(".hover-img", {
    scaleX: 0,
    filter: "hue-rotate(360deg) contrast(1)",
  });

  gsapItems.forEach((gsIt) => {
    const img = gsIt.querySelector(".hover-img") as HTMLElement;
    let widthImg = img.clientWidth / 2;
    let heightImg = img.clientHeight / 2;

    gsIt.addEventListener("mouseenter", function (e: MouseEvent) {
      if (e.type === "mouseenter") {
        let xpos = e.clientX;
        let ypos = e.clientY;

        const tl = gsap.timeline();

        tl.set(img, {
          x: xpos - widthImg,
          y: ypos - heightImg,
        }).to(img, {
          opacity: 1,
          scaleX: 1,
          filter: "hue-rotate(360deg) contrast(1)",
          duration: 0.7,
          ease: "expo.out",
        });
      }
    });

    gsIt.addEventListener("mouseleave", function (e) {
      if (e.type === "mouseleave") {
        const tl = gsap.timeline();

        tl.to(img, {
          opacity: 0,
          scaleX: 0,
          filter: "hue-rotate(300deg) contrast(5)",
          duration: 0.7,
          ease: "expo.out",
        });
      }
    });

    gsIt.addEventListener("mousemove", function (e: MouseEvent) {
      let xpos = e.clientX;
      let ypos = e.clientY;

      const tl = gsap.timeline();

      tl.to(img, {
        x: xpos - widthImg,
        y: ypos - heightImg,
      });
    });
  });
</script>
