---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gallery of Movies">
  <main>
    <div class="container">
      <div class="nav">
        <a href="/">Back</a>
        <a href="#" class="more-btn">More</a>
      </div>
      <div class="footer">
        <a href="https://github.com/Enzo889">GitHub</a>
        <a href="https://twitter.com/enzonicolas24">Enzo Bustamante</a>
      </div>
      <div class="header">
        <div class="text">
          <p>The art</p>
          <div class="text-revealer"></div>
        </div>
        <div class="text">
          <p>of Cinema</p>
          <div class="text-revealer"></div>
        </div>
      </div>
      <div class="gallery">
        <div class="img">
          <div class="img-info">
            <p>Blow Out</p>
            <p>1981</p>
          </div>
          <img src="src/assets/planos/buho.jpeg" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>Chinatown</p>
            <p>1974</p>
          </div>
          <img src="src/assets/planos/chinatown.webp" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>Chungking Express</p>
            <p>1994</p>
          </div>
          <img src="src/assets/planos/chucking.webp" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>For a Few Dollars More</p>
            <p>1965</p>
          </div>
          <img src="src/assets/planos/dinero.webp" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>The Exorcist</p>
            <p>1973</p>
          </div>
          <img src="src/assets/planos/exorcista.webp" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>Halloween</p>
            <p>1978</p>
          </div>
          <img src="src/assets/planos/hallowen.jpg" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>The Deer Hunter</p>
            <p>1978</p>
          </div>
          <img src="src/assets/planos/hunter.jpg" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>A Nightmare on Elm Street</p>
            <p>1984</p>
          </div>
          <img src="src/assets/planos/murder.webp" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>The Neon Demon</p>
            <p>2016</p>
          </div>
          <img src="src/assets/planos/neon-damon.jpg" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>Paprika</p>
            <p>2006</p>
          </div>
          <img src="src/assets/planos/paprika.jpg" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>Rear Window</p>
            <p>1954</p>
          </div>
          <img src="src/assets/planos/window.webp" alt="" />
        </div>
        <div class="img">
          <div class="img-info">
            <p>The Searchers</p>
            <p>1956</p>
          </div>
          <img src="src/assets/planos/searchers.webp" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>Drive My Car</p>
            <p>2021</p>
          </div>
          <img src="src/assets/planos/car.jpeg" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>Christine</p>
            <p>1983</p>
          </div>
          <img src="src/assets/planos/Christine.jpeg" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>L'Aventure</p>
            <p>1960</p>
          </div>
          <img src="src/assets/planos/La-aventura.png" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>Schindler's List</p>
            <p>1993</p>
          </div>
          <img src="src/assets/planos/lista.webp" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>The Master</p>
            <p>2012</p>
          </div>
          <img src="src/assets/planos/master.png" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>Psycho</p>
            <p>1960</p>
          </div>
          <img src="src/assets/planos/psycho.png" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>Eternal Sunshine of the Spotless Mind</p>
            <p>2004</p>
          </div>
          <img src="src/assets/planos/resplandor.jpg" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>The French Connection</p>
            <p>1971</p>
          </div>
          <img src="src/assets/planos/french.jpeg" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>Il Gatopardo</p>
            <p>1963</p>
          </div>
          <img src="src/assets/planos/gatopardo.webp" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>The Irishman</p>
            <p>2019</p>
          </div>
          <img src="src/assets/planos/irishman.jpeg" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>Pierrot le fou</p>
            <p>1965</p>
          </div>
          <img src="src/assets/planos/piero.jpg" alt="" />
        </div>

        <div class="img">
          <div class="img-info">
            <p>The Fabelmans</p>
            <p>2022</p>
          </div>
          <img src="src/assets/planos/Fabelmans_Iconic_Shot.jpeg" alt="" />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "PP Neue Montreal", sans-serif;
    background: #e3e3e3;
    color: #000;
  }

  a {
    position: relative;
    text-decoration: none;
    color: #000;
  }

  a:hover {
    border-bottom: #000 solid 1px;
  }
  .nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .header {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
  }

  .text {
    position: relative;
    width: max-content;
    height: max-content;
    padding: 10px;
  }

  .text p {
    position: relative;
    font-size: 18px;
  }

  .text-revealer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .text-revealer::after {
    content: "";
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
  }

  .gallery {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
  }

  .img {
    width: 75px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    margin: 20px;
  }

  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2000;
  }

  .img-info {
    color: #000;
    margin: 8px;
    display: none;
  }

  .img-info p {
    margin: 10px;
    font-weight: 500;
  }
</style>

<script>
  import { gsap } from "gsap";

  const positions = [
    { top: "0%", left: "0%" },
    { top: "0%", left: "10%" },
    { top: "0%", left: "60%" },
    { top: "16%", left: "25%" },
    { top: "36%", left: "40%" },
    { top: "16%", left: "90%" },
    { top: "32%", left: "50%" },
    { top: "32%", left: "75%" },
    { top: "48%", left: "0%" },
    { top: "64%", left: "30%" },
    { top: "70%", left: "10%" },
    { top: "70%", left: "70%" },
    { top: "0%", left: "0%" },
    { top: "0%", left: "10%" },
    { top: "0%", left: "60%" },
    { top: "16%", left: "25%" },
    { top: "36%", left: "40%" },
    { top: "16%", left: "90%" },
    { top: "32%", left: "50%" },
    { top: "32%", left: "75%" },
    { top: "48%", left: "0%" },
    { top: "64%", left: "30%" },
    { top: "70%", left: "10%" },
    { top: "70%", left: "70%" },
    // { top: "70%", left: "78%" },
  ];

  const imgs = document.querySelectorAll(".img");

  gsap.set(".img", {
    top: "45%",
    left: "50%",
    transform: "translate(-50%, -50%) scale(0)",
  });

  gsap.from("p", {
    y: 40,
    ease: "power4.inOut",
    duration: 1,
    stagger: {
      amount: 0.15,
    },
    delay: 0.5,
  });

  gsap.to(".img", {
    scale: 1,
    width: "300px",
    height: "400px",
    stagger: 0.15,
    duration: 0.75,
    ease: "power2.out",
    delay: 1,
    onComplete: scatterAndShrink,
  });

  gsap.to("p", {
    top: "40px",
    ease: "power4.inOut",
    duration: 1,
    stagger: {
      amount: 0.15,
    },
    delay: 3,
    onComplete: () => {
      document.querySelector("header").remove();
    },
  });

  gsap.from("a", {
    y: 20,
    opacity: 0,
    ease: "power2.out",
    duration: 1,
    stagger: {
      amount: 0.15,
    },
    delay: 4,
  });

  function scatterAndShrink() {
    gsap.to(".img", {
      top: (i) => positions[i].top,
      left: (i) => positions[i].left,
      transform: "none",
      width: "75px",
      height: "100px",
      stagger: 0.075,
      duration: 0.75,
      ease: "power2.out",
    });
  }

  function applyBlurEffect() {
    const elementsToBlur = document.querySelectorAll(
      '.nav, .footer, .header, .text, .img:not([data-enlarged="true"])'
    );
    gsap.to(elementsToBlur, {
      filter: "blur(20px)",
      duration: 0.75,
      ease: "power2.out",
    });
  }

  function removeBlurEffect() {
    const elementsToBlur = document.querySelectorAll(
      '.nav, .footer, .header, .text, .img:not([data-enlarged="true"])'
    );
    gsap.to(elementsToBlur, {
      filter: "blur(0px)",
      duration: 1,
      ease: "power2.out",
    });
  }

  function toggleImageSize(event) {
    const img = event.currentTarget;
    const isEnlarged = img.getAttribute("data-enlarged") === "true";
    const imgInfo = img.querySelector(".img-info");
    const originalPosition = JSON.parse(
      img.getAttribute("data-original-position")
    );
    const viewportWidth = window.innerWidth;
    const viewportHeight = window.innerHeight;

    if (!isEnlarged) {
      const enlargedWidth = 950;
      const enlargedHeight = 450;
      const centeredLeft = (viewportWidth - enlargedWidth) / 2;
      const centeredTop = (viewportHeight - enlargedHeight) / 2;
      const topCorrection = 5;
      const correctedTop = centeredTop - topCorrection;

      imgInfo.style.display = "block";

      gsap.to(img, {
        zIndex: 1000,
        top: centeredTop + "px",
        left: centeredLeft + "px",
        width: enlargedWidth + "px",
        height: enlargedHeight + "px",
        ease: "power4.out",
        duration: 1,
      });
      img.setAttribute("data-enlarged", "true");
      applyBlurEffect();
    } else {
      setTimeout(() => removeBlurEffect(), 100);

      imgInfo.style.display = "none";

      gsap.to(img, {
        zIndex: 1,
        top: originalPosition.top,
        left: originalPosition.left,
        width: "75px",
        height: "100px",
        ease: "power4.out",
        duration: 1,
      });
      img.setAttribute("data-enlarged", "false");
    }
  }

  imgs.forEach((img, i) => {
    img.setAttribute("data-original-position", JSON.stringify(positions[i]));
    img.setAttribute("data-enlarged", "false");
    img.addEventListener("click", toggleImageSize);
  });

  const itemsPerPage = 12;
  let currentPage = 1;
  const totalItems = document.querySelectorAll(".img").length;
  const totalPage = Math.ceil(totalItems / itemsPerPage);

  function showPage(pageNumber) {
    const items = document.querySelectorAll(".img") as any;
    const startIndex = (pageNumber - 1) * itemsPerPage;
    const endIndex = startIndex + itemsPerPage;
    items.forEach((item, index) => {
      if (index >= startIndex && index < endIndex) {
        item.style.display = "flex";
      } else {
        item.style.display = "none";
      }
    });
  }

  showPage(currentPage);

  const filmsButton = document.querySelector(".more-btn");
  filmsButton.addEventListener("click", () => {
    currentPage++;
    if (currentPage > totalPage) {
      currentPage = 1;
    }
    showPage(currentPage);
  });
</script>
