---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Concept">
  <main>
    <nav>
      <a href="/">Back</a>
      <p class="more-btn">More</p>
    </nav>
    <footer>
      <p>Enzo 2024 &copy;</p>
    </footer>
    <div class="overlay">
      <div class="overlay-header">
        <div class="col">
          <h1 id="item-name">Item Name</h1>
          <p id="item-category">Item category</p>
        </div>
        <div class="col">
          <p id="close-btn">Close</p>
        </div>
      </div>
      <div class="items-details">
        <p>
          <a href="#" target="_blank" id="item-link"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-up-right"
              width="15"
              height="15"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path></svg
            > Trailer</a
          >
        </p>
        <p id="item-copy">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nemo et
          at placeat consectetur aperiam optio omnis voluptate quae aspernatur?
        </p>
      </div>
      <div class="img-container">
        <img src="src/assets/img1.jpg" id="item-img" alt="" />
      </div>
    </div>
    <div class="container">
      <div class="items">
        <div class="item">
          <div class="item-index">01</div>
          <div class="item-name">IF - John Krasinski</div>
          <div class="item-year">2024</div>
        </div>
        <div class="item">
          <div class="item-index">02</div>
          <div class="item-name">The Holdovers - Alexander Payne</div>
          <div class="item-year">2023</div>
        </div>
        <div class="item">
          <div class="item-index">03</div>
          <div class="item-name">Fallen Leaves - Aki Kaurismäki</div>
          <div class="item-year">2023</div>
        </div>
        <div class="item">
          <div class="item-index">04</div>
          <div class="item-name">The Fabelmans - Steven Spielberg</div>
          <div class="item-year">2022</div>
        </div>
        <div class="item">
          <div class="item-index">05</div>
          <div class="item-name">As bestas - Rodrigo Sorogoyen</div>
          <div class="item-year">2022</div>
        </div>
        <div class="item">
          <div class="item-index">06</div>
          <div class="item-name">Dark Glasses - Dario Argento</div>
          <div class="item-year">2022</div>
        </div>
        <div class="item">
          <div class="item-index">07</div>
          <div class="item-name">Licorice Pizza - Paul Thomas Anderson</div>
          <div class="item-year">2021</div>
        </div>
        <div class="item">
          <div class="item-index">08</div>
          <div class="item-name">Cry Macho - Clint Eastwood</div>
          <div class="item-year">2021</div>
        </div>
        <div class="item">
          <div class="item-index">09</div>
          <div class="item-name">The Hunt - Craig Zobel</div>
          <div class="item-year">2020</div>
        </div>
        <div class="item">
          <div class="item-index">10</div>
          <div class="item-name">Palm Springs - Max Barbakow</div>
          <div class="item-year">2020</div>
        </div>
        <div class="item">
          <div class="item-index">11</div>
          <div class="item-name">
            Once Upon a Time… in Hollywood - Quentin Tarantino
          </div>
          <div class="item-year">2019</div>
        </div>
        <div class="item">
          <div class="item-index">12</div>
          <div class="item-name">The Irishman - Martin Scorsese</div>
          <div class="item-year">2019</div>
        </div>
        <div class="item">
          <div class="item-index">13</div>
          <div class="item-name">Ford v Ferrari - James Mangold</div>
          <div class="item-year">2019</div>
        </div>
        <div class="item">
          <div class="item-index">14</div>
          <div class="item-name">Burning - Lee Chang-dong</div>
          <div class="item-year">2018</div>
        </div>
        <div class="item">
          <div class="item-index">15</div>
          <div class="item-name">
            Never Look Away - Florian Henckel von Donnersmarck
          </div>
          <div class="item-year">2018</div>
        </div>
        <div class="item">
          <div class="item-index">16</div>
          <div class="item-name">Ready Player One - Steven Spielberg</div>
          <div class="item-year">2018</div>
        </div>
        <div class="item">
          <div class="item-index">17</div>
          <div class="item-name">Phantom Thread - Paul Thomas Anderson</div>
          <div class="item-year">2017</div>
        </div>
        <div class="item">
          <div class="item-index">18</div>
          <div class="item-name">Logan - James Mangold</div>
          <div class="item-year">2017</div>
        </div>
        <div class="item">
          <div class="item-index">19</div>
          <div class="item-name">Split - M. Night Shyamalan</div>
          <div class="item-year">2016</div>
        </div>
        <div class="item">
          <div class="item-index">20</div>
          <div class="item-name">La La Land - Damien Chazelle</div>
          <div class="item-year">2016</div>
        </div>
        <div class="item">
          <div class="item-index">21</div>
          <div class="item-name">Two Lovers - James Gray</div>
          <div class="item-year">2008</div>
        </div>
        <div class="item">
          <div class="item-index">22</div>
          <div class="item-name">Chungking Express - Wong Kar-wai</div>
          <div class="item-year">1994</div>
        </div>
        <div class="item">
          <div class="item-index">23</div>
          <div class="item-name">
            No Country for Old Men - Joel Coen, Ethan Coen
          </div>
          <div class="item-year">2007</div>
        </div>
        <div class="item">
          <div class="item-index">24</div>
          <div class="item-name">Basic Instinct - Paul Verhoeven</div>
          <div class="item-year">1992</div>
        </div>
        <div class="item">
          <div class="item-index">25</div>
          <div class="item-name">Midnight in Paris - Woody Allen</div>
          <div class="item-year">2011</div>
        </div>
        <div class="item">
          <div class="item-index">26</div>
          <div class="item-name">Heat - Michael Mann</div>
          <div class="item-year">1995</div>
        </div>
        <div class="item">
          <div class="item-index">27</div>
          <div class="item-name">The Wolf of Wall Street - Martin Scorsese</div>
          <div class="item-year">2013</div>
        </div>
        <div class="item">
          <div class="item-index">28</div>
          <div class="item-name">Rear Window - Alfred Hitchcock</div>
          <div class="item-year">1954</div>
        </div>
        <div class="item">
          <div class="item-index">29</div>
          <div class="item-name">The Greatest Showman - Michael Gracey</div>
          <div class="item-year">2017</div>
        </div>
        <div class="item">
          <div class="item-index">30</div>
          <div class="item-name">Blow Out - Brian De Palma</div>
          <div class="item-year">1981</div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  @font-face {
    font-family: "Aeonik Regular";
    src: url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot");
    src:
      url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot?#iefix")
        format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff2")
        format("woff2"),
      url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff")
        format("woff"),
      url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.ttf")
        format("truetype"),
      url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.svg#Aeonik Regular")
        format("svg");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body,
  main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Aeonik Regular";
    background-color: #0f0f0f;
    color: #fff;
  }

  h1 {
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 2em;
  }

  nav {
    position: fixed;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
  }

  nav a,
  nav p {
    color: #fff;
    cursor: pointer;
  }

  nav p:hover,
  a:hover {
    border-bottom: #fff solid 1px;
    opacity: 0.6;
  }

  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2em;
  }

  .items {
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    padding: 0.25em 0.5em;
    cursor: pointer;
  }

  .item:hover {
    opacity: 0.6;
  }

  .item-index {
    flex: 1;
  }

  .item-name {
    flex: 4;
  }

  .item-year {
    flex: 1;
  }

  #item-link {
    opacity: 0.4;
  }

  #item-link:hover {
    opacity: 1;
  }

  .overlay {
    position: absolute;
    bottom: -1200px;
    right: 0;
    width: 70%;
    height: 500px;
    padding: 2em;
    background: #fff;
    color: #000;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
    will-change: bottom;
    transform: translateZ(0) rotate(20deg);
    transform-origin: bottom center;
  }

  .overlay::-webkit-scrollbar {
    display: none;
  }

  .img-container {
    width: 100%;
    padding-bottom: 2em;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2em 0;
  }

  .col:nth-child(1) {
    flex: 3;
  }

  .col:nth-child(2) {
    flex: 2;
  }

  #close-btn {
    cursor: pointer;
    opacity: 0.4;
  }

  #close-btn:hover {
    cursor: pointer;
    opacity: 1;
  }

  .items-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 0 4em 0;
  }

  .items-details p:nth-child(1) {
    flex: 3;
  }

  .items-details p:nth-child(2) {
    flex: 2;
  }

  @media (max-width: 900px) {
    .items {
      width: 100%;
      bottom: 8em;
    }

    .overlay {
      width: 100%;
      height: 100vh;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { data } from "../components/data.js";

  const overlay = document.querySelector(".overlay");
  const closeBtn = document.querySelector("#close-btn");

  const tl = gsap.timeline({ paused: true, overwrite: "auto" });

  tl.to(overlay, {
    duration: 0.5,
    bottom: "0px",
    rotation: 0,
    transformOrigin: "bottom center",
    ease: "power3.inOut",
  });

  const items = document.querySelectorAll(".item");
  Array.from(items).forEach((item, index) => {
    item.addEventListener("click", () => {
      updateOVerlay(data[index]);
      tl.play();
    });
  });

  closeBtn.addEventListener("click", () => {
    tl.reverse();
  });

  function updateOVerlay(dataItem) {
    const itemName =
      document.querySelector("#item-category").previousElementSibling;
    const itemCategory = document.querySelector("#item-category");
    const itemLink = document.querySelector("#item-link") as any;
    const itemCopy = document.querySelector("#item-copy");
    const itemImg = document.querySelector("#item-img") as any;

    itemName.textContent = dataItem.itemName;
    itemCategory.textContent = dataItem.itemCategory;
    itemLink.href = dataItem.itemLink;
    itemCopy.textContent = dataItem.itemCopy;
    itemImg.src = dataItem.itemImg;
  }

  document.addEventListener("click", (e: any) => {
    if (!overlay.contains(e.target) && !isItem(e.target)) {
      tl.reverse;
    }
  });

  function isItem(target) {
    return target.closest(".item");
  }

  const itemsPerPage = 10;
  let currentPage = 1;
  const totalItems = document.querySelectorAll(".item").length;
  const totalPage = Math.ceil(totalItems / itemsPerPage);

  function showPage(pageNumber) {
    const items = document.querySelectorAll(".item") as any;
    const startIndex = (pageNumber - 1) * itemsPerPage;
    const endIndex = startIndex + itemsPerPage;
    items.forEach((item, index) => {
      if (index >= startIndex && index < endIndex) {
        item.style.display = "flex";
      } else {
        item.style.display = "none";
      }
    });
  }

  showPage(currentPage);

  const filmsButton = document.querySelector(".more-btn");
  filmsButton.addEventListener("click", () => {
    currentPage++;
    if (currentPage > totalPage) {
      currentPage = 1;
    }
    showPage(currentPage);
  });
  // Rest of the JavaScript code remains the same
</script>
