<div id="top">
  <p>
    <div class="arrow-left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
    </div>
    <div class="arrow-left-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
    </div>
    Back to the top
    <div class="arrow-right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
    </div>
    <div class="arrow-right-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-arrow-up"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 5l0 14"></path><path d="M18 11l-6 -6"></path><path
          d="M6 11l6 -6"></path></svg
      >
    </div>
  </p>
</div>

<style>
  @import url("https://fonts.cdnfonts.com/css/satoshi");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #top {
    position: absolute;
    background: #0afc04;
    width: 98.5%;
    border-radius: 20px;
    border: 1px solid;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .arrow-left,
  .arrow-right {
    margin: 0 10em;
    transition: transform 0.3s ease-in-out;
  }

  .arrow-left-2 {
    /* display: none;  */
    position: absolute;
    display: flex;
    left: 238px;
    display: none;
  }

  .arrow-right-2 {
    position: absolute;
    display: flex;
    left: 748px;
    display: none;
  }
  p {
    font-size: 20px;
    font-family: "Satoshi", sans-serif;
  }
</style>

<script>
  import { gsap } from "gsap";

  let top = document.querySelector("#top") as any;
  top.addEventListener("click", function () {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  });

  const arrowLeft = document.querySelector(".arrow-left");
  const arrowRight = document.querySelector(".arrow-right");

  const arrowLeft2 = document.querySelector(".arrow-left-2");
  const arrowRight2 = document.querySelector(".arrow-right-2");

  const arrows = [arrowLeft, arrowRight];
  const arrows2 = [arrowLeft2, arrowRight2];

  arrows.forEach((arrow) => {
    top.addEventListener("mouseenter", () => {
      gsap.fromTo(
        arrow,
        { y: 0 },
        { y: -100, duration: 0.3, ease: "sine.inOut", display: "block" }
      );
    });

    top.addEventListener("mouseleave", () => {
      gsap.fromTo(
        arrow,
        { y: -100 },
        { y: 0, duration: 0, ease: "sine.inOut", display: "none" }
      );
    });
  });

  arrows2.forEach((arrow) => {
    top.addEventListener("mouseenter", () => {
      gsap.fromTo(
        arrow,
        { y: 100 },
        { y: 0, duration: 1, ease: "sine.inOut", display: "block" }
      );
    });
  });
</script>
